html , body{
    background: #1c1c1c;
    color: white;
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;

}
.row{
    justify-content: center;
}
.card-text{
    color: rgb(209, 205, 199);
}
.card-title{
    color: rgb(209, 205, 199);

}
.card{
    background-color: inherit;
    border: 1px white solid;
}
