html , body{
    background: #1c1c1c;
    color: white;
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;

}
[class*="col"]{
    background-color: #33b5e5;
    margin: 0.5rem;
    border: 2px solid #fff;
}
.row{
    justify-content: center;
}
.t  .col-3{
    background: none;
    border: none;
}


.animi{
    animation: float 5s ease-in-out infinite;
}
.delay1{
    animation-delay:1s ;
    }
    .delay2{
        animation-delay:2s ;
        }
@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
    
}


